*,
::before,
::after {
    padding: 0;
    margin: 0;
    border: 1px solid black;
}

html {
    /* font-size: 62.5%; */
    box-sizing: border-box;
}

body {
    padding: 2rem;

}

.pageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: aquamarine;

}

#header-img {
    width: 300px;
}

#nav-bar ul {
    background-color: bisque;
    display: flex;
    flex-direction: row;
    list-style: none;
    width: 500px;
    justify-content: space-around;
    align-items: center;

}

.nav-link {}

.formContainer {
    background-color: blueviolet;
    margin: 80px 0 30px 0;
}



@media (max-width: 500px) {

    body {
        padding: 0;

    }

    #header {
        display: flex;
        /* justify-content: space-between;
    align-items: center; */
        flex-direction: column;
        background-color: orangered;
    }


    #header-img {
        width: 250px;
    }

    #nav-bar ul {
        background-color: yellowgreen;
        display: flex;
        flex-direction: column;
        list-style: none;
        width: 250px;
        justify-content: space-around;
        align-items: center;

    }

}